.media-theme .trailer-background {
    background: url(../images/chuck-norris.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}

.trailer-background {
    color:White;
    margin: 0;
}

.media-title {
    color:black;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

#movies-carousel{
    margin-top: 5px;
}
#movies-carousel .item img{
    display: block;
    max-width: 100%;
    height: auto;
    max-height:550px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}