.dark-gray-background {
    background-color: #2B2B2B;
}

.centered{
    text-align:center;
}

.span{
    display:inline-block;
}

.white-text{
    color:white;
    font-family: 'Raleway', sans-serif;
}

.black-text{
    color: black;
    font-family: 'Raleway', sans-serif;
}

.div{
    display:block;
}
.button{
    margin:5px;
    width:110px;
}

.shadowing{
    box-shadow: 0 0 70px 15px;
}

.footer{
    padding-bottom: 30px;
    background: #2B2B2B;
}

.navbar {
    border: 0;
}

#itune-button{
    display:inline-block;
    overflow:hidden;
    background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;
    width:110px;
    height:40px;
}