.header-image {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    padding-top: 30px;
}

.image-button{
    position: absolute;
    top: 60%;
    right: 65%;
    font-family: 'Raleway', sans-serif;
}

@media screen and (min-width:1000px) {
    .image-button { visibility:visible }
}
@media screen and (max-width:999px) {
    .image-button { visibility:hidden }
}

.container{
    padding-top: 50px;
}

#actors-section{
    background: #E74C3C;
    padding-bottom: 20px;
}

.movie-image{
    width: 100%;
    max-width: 200px;
    height: 200px;
    padding: 5px;
    border: solid 1px #EFEFEF;
}

.index-section{
    padding-bottom: 20px;
}

#actors-carousel .item{
    margin: 5px;
}
#actors-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 350px;
}
#actors-carousel .item:hover {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

#recently-added-carousel .item{
    margin: 5px;
}
#recently-added-carousel .item img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 350px;
}
#recently-added-carousel .item:hover {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

.content{
    padding-left: 0;
    padding-right: 0;
}