body.media-theme {
    font-family: 'Raleway', sans-serif;
}

h5{
    font-family: 'Raleway', sans-serif;

}

h1{
    font-family: 'Raleway', sans-serif;

}

h2{
    font-family: 'Raleway', sans-serif;

}

h3{
    font-family: 'Raleway', sans-serif;

}

h4{
    font-family: 'Raleway', sans-serif;

}

h6{
    font-family: 'Raleway', sans-serif;

}

h7{
    font-family: 'Raleway', sans-serif;

}


#trailer-background {
    color: white;
    margin: 0;
}

#trailer-background header {
    height: 100%;
}

@media (min-width: 992px) {
    #trailer-background {
        height: 100%;
        position: fixed;
        overflow: hidden;
        margin: 0;
        -webkit-transition: all 200ms;
        transition: all 1000ms;
    }
    #trailer-background header .movie-ctnt {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px 40px;
    }

    .links {
        position: absolute;
        bottom: 10%;
    }

    .specs {
        position: absolute;
        bottom: 30%;
    }
}

.media-title {
    letter-spacing: 2px;
    margin-bottom: 16px;
}

.info-title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
}
.trailer {
    bottom: 10%
}

.specs {
    font-size: medium;
    font-weight: bold;
    position: static;
}

.top-buffer {
    margin-top: 35px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.links {
    color: white;
    position: static;
}

.btn-links{
    background-color: transparent;
    border-color: white;
    border-width: 3px;
    border-radius: 30px;
    border: 3px solid;
    padding: 5px 9px;
    font-weight: bold;
    font-size: 12px;
}

.btn-links:hover {
    -webkit-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
    background-color: white;
    border-color: inherit;
    background: url(../Images/moreMovies.png) no-repeat center center;
    background-color: white;
    -webkit-text-fill-color: transparent;
}

.btn-itunes {
    position:static;
}

.media-info {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.nav-tabs {
    background-color: white;
    border-color: transparent;
}

.tab-content {
    background-color: white;
}

.nav-tabs > li > a {
    background-color: #E74C3C;
    color: black;
    font-weight: bold;
}

.nav-tabs > li > a:hover {
    background-color: #EA8074;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    background-color: white;
    border-bottom: solid;
    border-bottom-style: solid;
    border-bottom-color: #E74C3C;
}