.media-theme #trailer-background {
    background: url(../Images/Inception-bgd.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}

.specs {
    background-color: transparent;
    border: 3px transparent;
    padding: 2px 5px;
    color: black;
}

@media (min-width: 992px) {
    .specs:hover {
        -webkit-animation: fadeIn;
        -webkit-animation-delay: 50ms;
        background-color:rgba(255, 255, 255, 0.9);
    }
}