.media-theme #trailer-background {
    background: url(../Images/sillicon-valley-dvd.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
}

#trailer-background {
    color:White;
    margin: 0;
}

.media-title {
    color:black;
    letter-spacing: 2px;
    margin-bottom: 16px;
}