
#youtube-container{
    padding:40px;
    width:100%;
    max-width:800px;
    margin:auto;
}
@media (max-width: 640px) {
    #youtube-container{
        padding:10px;
        width:100%;
        max-width:800px;
        margin:auto;
    }
}
.season{
    opacity:0;
}


.absolute{
    position:absolute;
}

.hbo-cover{
    background: url("../Images/sillicon-valley.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#episode-section{
    text-align:left;
    max-width:220px;
    height:410px;
    vertical-align: text-bottom;
    margin-bottom:0;

}

#header{
    margin-top:-20px;
    background-color:  #E74C3C;
    border-radius: 0px 0px 6px 6px;
    margin-bottom:10px;

}

.season-title{
    margin-top:-40px;
    padding-bottom:2px;
}
