
.media-theme .trailer-background {
    background-size: cover;
    -webkit-background-size: cover;
}

.trailer-background {
    margin: 0;
}

.media-title {
    color:black;
    letter-spacing: 2px;
    margin-bottom: 16px;
}
.specs {
    border: 3px transparent;
    padding: 2px 5px;
}

#cover{
    width:200px;
    height:300px;
    text-align:center;
}

#coverEpisode{
    width:200px;
    height:200px;
    right: 0px;
    max-width: 100%;
    max-height: 100%;
}

.episodeName:hover{
    color: #E74C3C;
    cursor: pointer;
}

.modal-header{
    background-color: #E74C3C;
}

.modal-title{
    color:white;
}

.episodePreviewButton{
    border-color: white;
}

.episodePreviewButton:hover{
    border-color: white;
}

.episodePreviewButton{
    color: white;
}

.containerHead{
    display: -webkit-inline-box;
    max-width: 100%;
    height: 100%;
}

.modal-content{
    overflow: hidden;
}

.modalInfoEpisode{
    max-width: 100%;
}

.modalPreviewArtwork{
    max-width: 100%;
}

@media (max-width: 542px) {
    .modalPreviewArtwork{
        display: none;
    }
}