#avatar-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.btn-follow{
    color: #E74C3C;
    
}
