.watchlist-title{
    color: black;
}

.watchlist-item{
    height: 200px;
    max-width: 90%;
    max-height: 200px;
    margin-bottom: 25px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.watchlist-cover{
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.watchlist-name{
    margin: 0 auto;
    padding: 2px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

.content-center{
    margin: 0 auto;
    width: 85%;
}

.movie {
    background-color:black;
    opacity: 0.9;
    width: 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.movie img {
     height:80px;
     -webkit-background-size: cover;
}
.movie .movie-icon:hover {
    text-decoration: none;
}

.movies-list {
    background-color:black;
    opacity: 0.75;
    height:auto;
}
.movies-list h1,.movies-list ol{
    color:white;
}

.movies-list ol a{
    color:white;
}

.movies-list li{
    padding:2px;
}
.movies-list li:hover{
    background-color: grey;
}

.movie:hover .remove-icon {
    display:block;
}

.remove-icon {
    display:none;
    float:right;
}
.remove-icon:hover {
    color:  #E74C3C;
}

.side-movie-diplay {
    height:800px;
    float:right;
    padding-top:10%;
    padding-bottom: 10%;
}

.row {
    min-height: 100%;
}
.page-height {

}

.min-height-row{
    min-height: 1200px;
}


@media (max-width: 992px) {
    .side-movie-diplay {
        display: none;
        height:100px;
        float:right;
        padding-top:10%;
        padding-bottom: 10%;
    }

    .movie img {
        height:200px;
        -webkit-background-size: cover;
    }
}
