@media (min-width: 992px) {
    .watchlist-name-input{
        max-width:  50%;
    }

}

.watchlist-title{
    color: black;
}

.watchlist-item{
    border: solid;
    color: #2B2B2B;
    height: 200px;
    max-width: 90%;
    max-height: 200px;
    margin-bottom: 25px;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.watchlist-cover{
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.watchlist-name-container{
    margin: 0 auto;
    padding: 1px;
    width: 100%;
    height: 45%;
    background-color: #EA8074;
    vertical-align: middle;
    text-align: center;
    line-height: 118px;
}

.watchlist-name{
    padding: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
    max-height: 80%;
    display: inline-block;
}

.watchlists-title{
    border:solid;
    background-color: #EA8074;
    color: #EA8074;
}
.watchlist-name-input{
    height: 50px;
    width:100%;
    max-width: 496px;
}

.new-edit-title {
    border: solid;
    background-color: #EA8074;
    color: #EA8074;
}

.input-name-container{
    padding-top: 10px;
}

.watchlist-info-container{
    padding: 5%;
    padding-top:50px;
}

.button-choice{
    padding-top: 15px;
}

.watchlist-thumbnail{
    width: 100%;
    height: 50%;
}

.btn-line{
    width: 100%;
    border-radius: 0%;
}

.new-edit-page{
   height: 100%;
}

.createOrUpdate:hover .delete:hover{
    color: black;
}

.content-center{
    margin: 0 auto;
    width: 85%;
}