<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UMovie</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/spacelab/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <!-- UnderscoreJs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link href="css/global.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/Animation.css" rel="stylesheet">
    <link href="css/actor.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet">
    <link href="css/tvshow.css" rel="stylesheet">
    <!--Custom font-->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <!--Custom javascript-->
    <script src="js/Index.js"></script>
    <script src="js/global.js"></script>
    <!-- OwlCarousel -->
    <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="owl-carousel/owl.theme.css">
    <script src="owl-carousel/owl.carousel.js"></script>
</head>


<div class="menu"></div>

<body>
<div class="content"></div>
</body>

<script type="text/template" id="menu-template">
    <nav class="navbar navbar-default navbar-fixed-top navbar-main">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand pointer" onclick="home()">
                    <span class="orange-color">u</span>Movie
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="col-sm-3 col-md-3 pull-left">
                    <form class="navbar-form" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">WatchLists</a></li>
                    <li><a href="#">user1234</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</script>

<script type="text/template" id="home-template">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <img class="header-image" src="Images/uMovie.png">
        <button type="button" class="btn btn-primary btn-outline btn-lg image-button" onclick="goToRecentlyAdded()">Browse</button>
    </div>
    <section id="recently-added-section">
        <div class="container">
            <h1 class="black-text"><a id="recently-added"></a>Recently Added</h1>
            <div class="row">
                <div class="span12">
                    <div id="recently-added-carousel" class="owl-carousel owl-theme">
                        <div class="item"><a href="#/tvshow/849050573"><img src="Images/sillicon-valley-dvd.jpg"></a></div>
                        <div class="item"><a href="#/movie/400763833"><img src="Images/Inception-bgd.jpg"></a></div>
                        <div class="item"><a href="#/movie/400763833"><img src="Images/inception2.jpg"></a></div>
                        <div class="item"><a href="#/tvshow/998746676"><img src="Images/silicon2.jpg"></a></div>
                        <div class="item"><a href="#/movie/400763833"><img src="Images/inception3.jpg"></a></div>
                        <div class="item"><a href="#/movie/400763833"><img src="Images/inception4.jpg"></a></div>
                        <div class="item"><a href="#/movie/400763833"><img src="Images/Inception-bgd.jpg"></a></div>
                        <div class="item"><a href="#/tvshow/570755482"><img src="Images/sillicon-valley-dvd.jpg"></a></div>
                        <div class="item"><a href="#/movie/400763833"><img src="Images/inception3.jpg"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Actors -->
    <section id="actors-section">
        <div class="container">
            <h1 class="black-text">Actors</h1>
            <div class="row">
                <div class="span12">
                    <div id="actors-carousel" class="owl-carousel owl-theme">
                        <div class="item"><a href="#/actor/129377537"><img src="Images/chuck-norris.jpg"></a></div>
                        <div class="item"><a href="#/actor/129377537"><img src="Images/chuck-norris-cowboy.jpg"></a></div>
                        <div class="item"><a href="#/actor/129377537"><img src="Images/chuck2.jpg"></a></div>
                        <div class="item"><a href="#/actor/129377537"><img src="Images/chuck-norris.jpg"></a></div>
                        <div class="item"><a href="#/actor/129377537"><img src="Images/chuck-norris-cowboy.jpg"></a></div>
                        <div class="item"><a href="#/actor/129377537"><img src="Images/chuck2.jpg"></a></div>
                        <div class="item"><a href="#/actor/129377537"><img src="Images/chuck-norris.jpg"></a></div>
                        <div class="item"><a href="#/actor/129377537"><img src="Images/chuck-norris-cowboy.jpg"></a></div>
                        <div class="item"><a href="#/actor/129377537"><img src="Images/chuck2.jpg"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer"></div>
    </footer>
</script>

<!-------------------------- MOVIE MAIN TEMPLATE ---------------------------------------------------------------------->
<script type="text/template" id="movie-main-template">
    <div id="main" class ="media-theme">
        <div>
            <div class="col-md-4 trailer-background" >
                <div class="movie-info-trailer"></div>
                <div class="movie-info"></div>
            </div>
            <!--Content Section-->
            <div class="movie-supplementary-info"></div>
        </div>
    </div>
</script>

<script type="text/template" id="movie-info-template">
    <div class="row top-buffer">
        <div class="specs movie bottom-buffer">
            <p>Genre :  <%= movie[0].primaryGenreName %>  |
                Length : x min |
                Date : <%= movie[0].C %> |
                Rated : <%= movie[0].contentAdvisoryRating %>  |
                Rating (IMDb)x/10 |
            </p>
        </div>
    </div>
    <div class="row bottom-buffer">
        <div class="links col-md-12">
            <p>
                <button class="btn-links" >Similar movies</button>
            </p>
            <div class="btn-itunes">
                <a href="<%= movie[0].trackViewUrl %>" class="itune-button"></a>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="movie-trailer-template">
    <div class="row">
        <div class="media-title-template col-md-12">
            <h1 class="white-text"><%= movie[0].trackName %>, (<%= movie[0].releaseDate %>)</h1>
        </div>
        <div class="trailer col-md-12 iframe">
            <div class="trailer-box embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="<%= movie[0].previewUrl %>" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="movie-supplementary-info-template">
    <div id="info" class="col-md-8 col-md-offset-4">
        <div id="info-background" class="tab-background">
            <div id="movie-info">
                <!-- Navigation -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
                    <li><a data-toggle="tab" href="#plot">Plot Summary</a></li>
                    <li><a data-toggle="tab" href="#review">Review</a></li>
                </ul>
                <!-- Panel Choices -->
                <div class="tab-content">
                    <!-- Panel Choice 1 -->
                    <div id="summary" class="tab-pane fade in active">
                        <!-- Section summary content -->
                        <div class="summary">
                            <h3 class="info-title"><%= movie[0].trackName%></h3>
                            <div>
                                <h5 class="bold">Director: <%= movie[0].artistName%></h5>
                                <h5 class="bold">Writer: <%= movie[0].artistName%></h5>
                                <h5 class="bold">Starring: PLACEHOLDER PEOPLE </h5>
                                <p class="paragraphs">
                                    SUMMARY IS NOT GIVEN BY THE ACTUAL API.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Panel Choice 2-->
                    <div id="plot" class="tab-pane fade">
                        <!-- Section summary content -->
                        <div class="plot">
                            <h3 class="info-title">Spoiler Alert !</h3>
                            <div>
                                <h5 class="bold">This plot summary could contain spoilers. Readers beware.</h5>
                                <p class="paragraphs"><%=movie[0].longDescription%></p>
                            </div>
                        </div>
                    </div>
                    <!-- Panel Choice 2-->
                    <div id="review" class="tab-pane fade">
                        <!-- Section summary content -->
                        <div class="review">
                            <h3 class="info-title">REVIEWER</h3>
                            <h5 class="bold">GREAT TITLE</h5>
                            <h6>By PLACEHOLDER WRITER | PLACEHOLDER DATE</h6>
                            <p class="paragraphs">
                                THE REVIEW IS NOT GIVEN BY THE ACTUAL API.
                            </p>
                        </div>
                    </div>
                </div>  <!-- End panel-ctnt-->
            </div> <!-- End movie-info-->
        </div>
    </div>
</script>

<!-------------------------- ACTORS MAIN TEMPLATE --------------------------------------------------------------------->
<script type="text/template" id="actor-main-template">
    <div class="media-theme" id="main">
        <div class="actor-info"></div>
        <div id="trailer" class="col-md-8 col-md-offset-4">
            <header>
                <h3 class="info-title">Movies</h3>
            </header>
            <div class="actor-movies"></div>
        </div>
    </div>
</script>

<script type="text/template" id="actor-info-template">
    <div class="col-md-4 trailer-background">
        <div class="row">
            <div class="media-title col-md-12">
                <h1 class="black-text"><%= actor[0].artistName %></h1>
                <p class="span black-text">Genre : <%= actor[0].primaryGenreName %></p>
                <div class="btn-itunes">
                    <a href="<%= actor[0].artistLinkUrl %>" class="itune-button"></a>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="actor-movies-template">
    <% _.each(movies, function(movie) {%>
    <div style="text-align:center;height:300px;" class="col-sm-3">
        <div class=""><img src="<%= movie.artworkUrl100 %>">
            <div class="">
                <p><%= movie.trackName %><br>Release Date: <%= movie.releaseDate %><br></p>
                <button type="button" class="btn btn-primary btn-outline btn-lg" onclick="document.location.href='<%= movie.previewUrl %>'">Preview</button>
                <div class="btn-itunes">
                    <a href="<%= movie.trackViewUrl %>" class="itune-button"></a>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</script>

<!-------------------------- TVSHOW MAIN TEMPLATE ---------------------------------------------------------------------->
<script type="text/template" id="tvshow-main-template">
    <div class="media-theme" id="tvshow-main">
        <div>
            <div class="col-md-4 trailer-background"  >
                <div class="season-info-trailer"></div>
                <div class="seasonX-info"></div>
            </div>
            <!--Content Section-->
            <div class="seasonX-episodes"></div>
        </div>
    </div>
</script>

<script type="text/template" id="season-info-template">
    <div class="row top-buffer">
        <div class="specs bottom-buffer white-text">
            <p>Genre : <%= season[0].primaryGenreName %> |
                Date : <%= season[0].releaseDate %>
            </p>
        </div>
    </div>
    <div class="row bottom-buffer">
        <div class="links col-md-12">
            <p>
                <button class="btn-links" >Similar series</button>
            </p>
            <div class="btn-itunes">
                <a href="<%= season[0].collectionViewUrl %>" class="itune-button"></a>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="season-episode-trailer-template">
    <div class="row">
        <div class="media-title-template col-md-12">
            <h1 class="white-text"><%= episodes[0].artistName %></h1>
        </div>
        <div class="trailer col-md-12">
            <div class="trailer-box embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" src="<%= episodes[0].previewUrl%>" frameborder="0" allowfullscreen></video>
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="season-episodes-template">
    <div id="info" class="col-md-8 col-md-offset-4">
        <div id="info-background" class="tab-background media-tab-padding">
            <div id="media-info">
                <!-- Navigation -->
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
                    <li><a data-toggle="tab" href="#episode-list">Episode List</a></li>
                    <li><a data-toggle="tab" href="#review">Review</a></li>
                </ul>
                <!-- Panel Choices -->
                <div class="tab-content">
                    <!-- Panel Choice 1 -->
                    <div id="summary" class="tab-pane fade in active">
                        <!-- Section summary content -->
                        <div class="summary">
                            <h3 class="info-title"><%= episodes[0].collectionName%></h3>
                            <div>
                                <h5 class="bold">Creators : Mike Judge, John Altschuler, Dave Krinsky</h5>
                                <h5 class="bold">Producer : Jim Kleverweis</h5>
                                <h5 class="bold">Starring : Thomas Middleditch, T. J. Miller, Josh Brener, Martin Starr, Kumail Nanjiani & others.</h5>
                                <p class="paragraphs"><%=episodes[0].longDescription%></p>
                            </div>
                        </div>
                    </div>
                    <!-- Panel Choice 2-->
                    <div id="episode-list" class="tab-pane fade">
                        <!-- Section summary content -->
                        <div class="episode-list">
                            <h3 class="info-title">Episodes</h3>
                            <% _.each(episodes, function(episode) { %>
                            <div>
                                <div id="<%= episode.trackNumber%>"><h4><%= episode.trackNumber %>. <%=episode.trackName %></h4></div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                    <!-- Panel Choice 3-->
                    <div id="review" class="tab-pane fade">
                        <!-- Section summary content -->
                        <div class="review">
                            <h3 class="info-title">Whodunnit</h3>
                            <h5 class="bold">GREAT TITLE.</h5>
                            <h6>By Somebody</h6>
                            <p class="paragraphs">

                            </p>
                        </div>
                    </div>
                </div>  <!-- End panel-ctnt-->
            </div> <!-- End movie-info-->
        </div>
    </div>
</script>

<script src="js/collection/movies.js"></script>
<script src="js/collection/episodes.js"></script>
<script src="js/models/actor.js"></script>
<script src="js/models/episode.js"></script>
<script src="js/models/season.js"></script>
<script src="js/models/tvshow.js"></script>
<script src="js/models/movie.js"></script>
<script src="js/views/actorMainView.js"></script>
<script src="js/views/actorView.js"></script>
<script src="js/views/actorMoviesView.js"></script>
<script src="js/views/episodesView.js"></script>
<script src="js/views/trailerEpisodeView.js"></script>
<script src="js/views/tvshowView.js"></script>
<script src="js/views/tvshowMainView.js"></script>
<script src="js/views/homeView.js"></script>
<script src="js/views/menuView.js"></script>
<script src ="js/views/movieMainView.js"></script>
<script src ="js/views/movieView.js"></script>
<script src ="js/views/movieTrailerView.js"></script>
<script src ="js/views/movieSupplementaryInfosView.js"></script>
<script src="js/router/router.js"></script>
<script src="js/app.js"></script>


<script src="js/Index.js"></script>
<script src="js/global.js"></script>
</html>
