

#youtube-container{
    padding:40px;
    width:100%;
    max-width:800px;
    margin:auto;
}
.season{
    opacity:0;
}

.absolute{
    position:absolute;
}

#actor{
    display:inline-block;
}

.hbo-cover{
    background: url("Images/community_image_1428691468.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#episode-section{
    text-align:left;
    display:inline-block;

}

.right{
    float:right;
}

.left{
    float:left;
}
