<!-- Modal -->
<% _.each(episodes, function(episode) { %>
<div class="modal fade" id="myModal<%- episode.trackNumber %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="container-head">
                    <div class="col-md-8 modal-info-episode">
                        <h2 class="modal-title" id="modal-season-name"><%- episode.collectionName %></h2>
                        <h4 class="modal-title" id="modal-episode-name">
                            <%- episode.trackName %>
                        </h4>
                        <h5 class="modal-title">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> Duration : <%- episode.trackTimeMillis%>
                        </h5>
                        <br>
                        <button class="btn-links episode-preview-button" onclick="document.location.href='http://www.google.com'" >Watch Preview</button>
                    </div>
                    <div class="col-md-4 modal-preview-artwork">
                        <div id="cover-episode" class="col-md-12"></div>
                    </div>
                </div>

                </div>
            <div class="modal-body">
                <div class="episode-description row">
                    <h2 style="margin-top: 0px"> Summary </h2>
                    <p class="paragraphs"><%- episode.longDescription %></p>
                </div>
           </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<% }); %>