<div class="row top-buffer">
    <div class="specs bottom-buffer">
        <p>Genre : <%= season[0].primaryGenreName %> |
            Date : <%= season[0].releaseDate %>
        </p>
    </div>
</div>
<div class="row bottom-buffer">
    <div class="links col-md-12">
        <!-- <p>
            <button class="btn-links" >Similar series</button>
        </p> -->
        <div class="btn-itunes">
            <a href="<%= season[0].collectionViewUrl %>" class="itune-button"></a>
        </div>
    </div>
</div>