<div class="row top-buffer">
    <div class="col-md-12 col-sm-12 col-xs-12 bold">
        <p>Genre : <%= season[0].primaryGenreName %> <br>
            Date : <%= season[0].releaseDate %>
        </p>
    </div>
</div>
<div class="row">
    <div class="links col-md-12">
        <!-- <p>
            <button class="btn-links" >Similar series</button>
        </p> -->
        <div class="btn-itunes">
            <a href="<%= season[0].collectionViewUrl %>" class="itune-button"></a>
        </div>
    </div>
</div>