<div id="info" class="col-md-8 col-md-offset-4">
    <div id="info-background" class="tab-background media-tab-padding">
        <div id="media-info">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
                <li><a data-toggle="tab" href="#episode-list">Episode List</a></li>
            </ul>
            <div class="tab-content">
                <div id="summary" class="tab-pane fade in active">
                    <div class="summary">
                        <h3 class="info-title"><%- episodes[0].collectionName%></h3>
                        <div class="row">
                            <p class="paragraphs col-md-8 col-sm-9 col-xs-12"><%-episodes[0].longDescription%></p>
                            <div id="cover" class="col-md-4 col-sm-3 col-xs-12" ></div>
                        </div>
                    </div>
                </div>
                <div id="episode-list" class="tab-pane fade">
                    <input type="text" class="form-control top-buffer" id="search-episode" placeholder="Press enter to search for an episode...">
                    <div id="episode-search-list"></div>
                </div>
            </div>
        </div>
    </div>
</div>