 <div class="row">
    <div class="col-md-12 text-center">
        <h2 class="watchlist-title">Watchlist</h2>
        <h4> these are your watchlist</h4>
        <a href="#/watchlistNew">
            <button class="btn btn-primary">
                New Watchlist
            </button>
        </a>
    </div>
 </div>
    <!-- Watchlist lists -->
 <div class="container">
    <div class="row content-center">
        <% _.each(watchlists, function(watchlist) { %>
        <div class="col-xs-6 col-sm-3 col-lg-2 watchlist-item">
            <a href="#/watchlist/<%=watchlist.id%>" class="watchlist-link" data-toggle="modal">
                <img class="img-responsive image-center" src="images/logoOpaque150.gif" class="watchlist-cover">
            </a>
            <div class="watchlist-name">
                <h4><%= watchlist.name %></h4>
            </div>
        </div>
        <% }); %>
    </div>
 </div>
