<div class="row page-height">
    <% _.each(watchlistMovie.movies, function(movie) { %>

        <% if(!_.isNull(movie.trackId)) { %>

            <% if(movie === watchlistMovie.movies[0]) { %>
    <div class="col-md-12" style='background-image: url(<%= (movie.artworkUrl100).replace("100x100", "600x600") %>);width:100%;height:auto;  background-size: cover; background-repeat: no-repeat; background-position: center;'>
            <% } %>

        <% }%>

    <% }); %>

        <div class="row" >
            <div class="col-md-12 movies-list min-height-row">
                <div class="row">

                    <div class="col-md-4 col-xs-6">
                        <% _.each(watchlistMovie.movies, function(movie) { %>

                            <% if(!_.isNull(movie.trackId)) { %>

                                <% if(movie === watchlistMovie.movies[0]) { %>
                                    <img class="side-movie-display" src='<%= (movie.artworkUrl100).replace("100x100", "600x600") %>'>
                                <% } %>

                            <% }%>

                        <% }); %>
                    </div>
                    <div class="col-md-8 col-xs-12 ">
                        <h1><%=watchlistMovie.name%></h1>
                        <h1><%=_.size(watchlistMovie.movies)%> Movies</h1>
                        <ol >
                            <% _.each(watchlistMovie.movies, function(movie) { %>
                                <% if(!_.isNull(movie.trackId)) { %>
                                    <li class="movie">
                                        <a class="movie-icon" href="#/movie/<%=movie.trackId%>"><img src="<%=movie.artworkUrl100 %>" > </a>
                                        <a  href="#/movie/<%=movie.trackId%>" >
                                            <%= movie.trackName %>
                                        </a>
                                        <a href="#"><span class="remove-icon glyphicon glyphicon-remove"></span></a>
                                    </li>
                                <% }%>
                            <% }); %>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(window).on("resize", _.debounce(function() {
        $('.min-height-row').css('min-height', window.innerHeight);
    }, 1));

</script>