<div style="text-align:center;height:300px;" class="col-sm-3">
    <div ><a href="#/movie/<%- movie.trackId %>"><img src="<%- movie.artworkUrl100 %>"></a>
        <div class="">
            <p><%- movie.trackName %><br>Release Date: <%- movie.releaseDate %><br></p>
            <button type="button" class="btn btn-primary btn-outline btn-lg" onclick="document.location.href='<%- movie.trailer %>'">Preview</button>
            <div class="btn-itunes">
                <a href="<%- movie.trackViewUrl %>" class="itune-button"></a>
            </div>
        </div>
    </div>
</div>