<div class="col-md-4 trailer-background">
    <div class="row">
        <div class="media-title col-md-12">
            <h1 class="black-text"><%= actor[0].artistName %></h1>
            <p class="span black-text">Genre : <%= actor[0].primaryGenreName %></p>
            <!-- <p>
                <button class="btn-links" >Similar series</button>
            </p> -->
            <div class="btn-itunes">
                <a href="<%= actor[0].artistLinkUrl %>" class="itune-button"></a>
            </div>
        </div>
    </div>
</div>