<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5 text">
                    <h1><strong class="orange-text">u</strong><strong>Movie</strong></h1>
                    <div class="description">
                        <p>
                            Login now for amazing content on Chuck Norris.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login</h3>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="" method="post" class="registration-form" id="registration-form">
                            <div class="form-group">
                                <label class="sr-only" for="form-email">Email</label>
                                <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input type="text" name="form-last-name" placeholder="Password..." class="form-last-name form-control" id="form-password">
                            </div>
                            <button type="submit" class="btn btn-primary btn-outline btn-md">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>