<div class="col-md-12 col-sm-12">
    <h1>Actors:</h1>
    <%if (typeof actors === 'undefined' || !actors.length) {%>
    <h4>No results were found for this section.</h4>
    <%}else{
    var counter = 0;
    var maxResult = 6;
    if(isGeneral== false){
    maxResult = actors.length;
    }%>
    <% _.each(actors, function(actor) {
    if(counter < maxResult){%>
    <div class ="col-md-2 col-sm-3 result-item">
        <p class ="controlled-length"><%- actor.artistName %></p>
        <div><a href="#/actor/<%- actor.artistId %>"><img src="Images\logoOpaque150.gif"></a></div>
    </div>
    <% counter++;
    }});
    if(actors.length > maxResult){%>
    <button type="button"  onclick="document.location.href='#/actorSearch/<%- searchField %>';"  class="btn btn-default btn-line">More results</button>

    <% }} %>
</div>