<div class="col-md-12 col-sm-12">
    <h1>User :</h1>
    <%if (typeof users === 'undefined' || !users.length) {%>
    <h4>No results were found for this section.</h4>
    <%}else{
    var counter = 0;
    var maxResult = 6;
    if(isGeneral== false){
    maxResult = users.length;
    }%>
    <% _.each(users, function(user) {
    if(counter < maxResult){%>
    <div class ="col-md-2 col-sm-3 result-item">
        <p class ="controlled-length"><%- user.name %></p>
        <div><a href="#/user/<%- user.id %>"><img src="Images\logoOpaque150.gif"></a></div>
        <% if(user.isFollowing == false){ %>
        <button type="button" onclick="document.location.href='#/follow/<%- user.id %>';" class="btn btn-follow">Follow</button>
        <% }else if(user.isFollowing == true){ %>
        <button type="button" onclick="document.location.href='#/unfollow/<%- user.id %>';" class="btn btn-follow">Unfollow</button>
        <% }else{} %>
    </div>
    <% counter++;
    }});
    if(users.length > maxResult){%>
    <button type="button" onclick="document.location.href='#/userSearch/<%- searchField %>';"  class="btn btn-default btn-line">More results</button>

    <% }} %>
</div>