<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 text">
                    <h1><strong>Success</strong> You are now registered on <strong class="orange-text">u</strong>Movie</h1>
                    <div class="description">
                        <p>
                            Sign in to browse the amazing Chuck Norris content we promised you!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>