<div class="media-theme" id="main">
    <div class="user-primary-info">
        <div class="col-md-4 trailer-background">
            <div class="row">
                <div class="media-title col-md-12">
                    <h1 class="black-text"><%= user.name %></h1>
                    <div class="span black-text"><%= user.email %></div>
                    <!-- <p>
                        <button class="btn-links" >Similar series</button>
                    </p> -->
                        <button type="button" class="btn btn-info">Follow</button>



                </div>
            </div>
        </div>
    </div>
    <div id="trailer" class="col-md-8 col-md-offset-4">
        <header>
            <h3 class="info-title">Informations</h3>
        </header>
        <div class="followers"></div>
    </div>
</div>