<div class="media-theme" id="main">
    <div class="user-primary-info">
        <div class="col-md-4 trailer-background">
            <div class="row">
                <div class="media-title col-md-12">
                    <div class="wrapper">
                        <div class="banner" >
                            <div class="avatar-img"></div>
                        </div>
                        <br>
                        <div class="row user-info">
                            <h1 class="black-text"><%= user.name %></h1>
                            <h4 class="black-text"><%= user.email %></h4>
                            <% if(isFollowing == false){ %>
                            <button type="button" onclick="document.location.href='#/follow/<%= user.id %>';" class="btn btn-follow">Follow</button>
                            <% }else if(isFollowing == true){ %>
                            <button type="button" onclick="document.location.href='#/unfollow/<%= user.id %>';" class="btn btn-follow">Unfollow</button>
                            <% }else{} %>
                        </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
    <div id="trailer" class="col-md-8 col-md-offset-4">
        <div class="row">
        <header>
            <h3 class="info-title"><%= user.following[0] ? 'Following' : '' %></h3>
        </header>
        <div class="followers">
            <% _.each(user.following, function(follower) { %>
            <div id="follower<%= follower.id %>"class ="col-md-2 col-sm-3 container-follower">
                <div class="wrapper">
                    <a class="banner-follower" href="#user/<%= follower.id %>">
                        <div class="avatar-img-follower"></div>
                    </a>
                    <br>
                    <div class="row follower-info">
                        <h5 class="black-text"><%= follower.name %></h5>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        </div>
        <div class="row">
            <div class="user-watchlist"></div>
        </div>
    </div>
</div>